.slider{
    position: relative;
    
    &__list{
        margin: 0 auto;
        position: relative;
        width: 304px;
        height: 184px;
    }
    &__items{
        @extend %flex-between;
       position: absolute;
       width: 100%;
       height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        box-shadow: -3px 6px 10px 4px rgba(0,0,0,.11);
        
    }
    &__button{
       @extend %button;
       position: absolute;
       width: 16px;
       height: 24px;
       top: 82px;
       &:hover{
           cursor: pointer;
       }
       &--preview{
           background: url(../img/slider-preview.png) no-repeat center;
           left: 231px;
           
       }
       &--next{
        background: url(../img/slider-next.png) no-repeat center;
        right: 231px;
       }
       
    }
    &__text{
        position: relative;
        width: 230px;
        padding-left: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #F5681D;
            top: -20px;
            left: 31px;
        }
    }

}

.show{
    z-index: 2;
    opacity: 1;
    transition: opacity 1s linear;
}