@font-face {	
	font-family:'Acrom';
	src: url(./fonts/Acrom.ttf) 
	format('ttf');
}
@font-face {	
	font-family:'Acrom bold';
	src:url('./fonts/Acrom-Bold.woff') 
	format("woff");
}
@font-face {	
	font-family:'Acrom extra bold';
	src: url('./fonts/Acrom-ExtraBold.woff') 
	format("woff");
}
